:host {
  width: 100%;
  height: 100%;
  
  display: inline-block;
  vertical-align: bottom;
  --display: block;
  position: relative;
  --object-position: 50% 50%;
}

picture {
  display: var(--display);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: inherit;
}
picture:first-of-type {
  position: relative;
  top: initial;
  left: initial;
}

img {
  display: var(--display);
  opacity: 0;
  object-fit: cover;
  object-position: var(--object-position);
  min-width: auto;
  width: 100%;
  
  min-height: auto;
  height: 100%;
  user-select: none;
  user-drag: none; 
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

