right-side
  c-big-video(name="thumbnail")

left-side
  text-blob
    c-line-accent
    c-text-blob(heading="$[ home.landing.heading ]" text="$[ home.landing.text ]")
    c-block-button(content="$[ home.landing.callToAction ]" link="contact/form")

landing-circle-wrapper
  c-landing-circle

view-work
  arrow-circle 
    c-ripple-button.rippleButton
    c-arrow-icon
  c-link(link="services" tabIndex="-1") $[ home.landing.viewWork ]

  c-button.coverButton(link="services")

player-container(name="playerContainer")
  fade-background(name="fadeBackground")
  media-player(name="player" title="Sprite Fight" src="vimeo/640499893")
    media-provider
    media-video-layout(thumbnails="https://image.mux.com/VZtzUzGRv02OhRnZCxcNg49OilvolTqdnFLEqBsTwaxU/storyboard.vtt")
