right-side
  c-big-video

left-side
  text-blob
    c-line-accent
    c-text $[ home.landing.heading ]
    c-text-blob(heading="$[ home.landing.heading ]" text="$[ home.landing.text ]")
    c-block-button(content="$[ home.landing.callToAction ]" link="contact/form")

landing-circle-wrapper
  c-landing-circle

view-work
  arrow-circle 
    c-ripple-button.rippleButton
    c-arrow-icon
  c-link(link="services" tabIndex="-1") $[ home.landing.viewWork ]

  c-button.coverButton(link="services")