:host {
  height: 100%;
  width: 100%;
}

component-body {
  display: flex;
  flex-flow: row;
  width:100%;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

c-line-accent {
  position: absolute;
  display: block;
  width: 41px;
  margin-left: -35px;
  transition: .25s margin-left;
}

@media (max-width: 800px) {
  c-line-accent {
    margin-left: 0
  }
}

left-side {
  display: flex;
  align-items: center;
  position: relative;
  left: 0;
  top: 0;
  width: calc(26% + 80px);
  padding: 0 calc(10% + -12px);
  padding-right: 0;
  box-sizing: border-box;
  height: 95%;
}

right-side {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  height: 95%;
  padding-top: 70px;
  min-height: 900px;
  transform: scale(1.2) translateX(-80px) translateY(100px)
}

c-big-video {
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  left-side {
    width: 100%;
    padding: 0 calc(10% + -12px);
    height: 40%;

  }
  right-side {
    width: 100%;
    flex-grow: initial;
    height: 60%;
    padding: 70px calc(10% + -12px);
  }
}

text-blob {
  display: inline-block;
  max-width: 100%;
  width: 100%
}

h1 {
  font-size: 45px;
  margin-bottom: 8px
}

p {
  margin-top: 0;
  font-size: 20px;
}

c-block-button {
  --background: var(--primary-theme);
  --text: var(--plain-background);
  --border: unset;
}
