:host {
  background: #fff9f9;
  margin-top: -56px;
  z-index: 2;
}

component-body {
  padding-left: calc(11.5% - 12px);
  padding-right: calc(11.5% - 12px);
  box-sizing: border-box;
  display: flex;
}

big-circle {
  width: 1200px;
  height: 1200px;
  position: absolute;
  top: -800px;
  left: -500px;
  background-color: #ffe7e6;
  box-shadow: var(--soft-shadow);
  border-radius: 50%;
}


right-side, left-side {
  position: relative;
  float: left;
  display: flex;
  margin-top: 250px;
}
right-side {
  margin-top: 180px;
}

left-side {
  flex-wrap: wrap;
  max-width: 60%;
  justify-content: flex-start;
}

right-side {
  width: 40%;
  justify-content: center;
  position: relative;
  min-width: max-content;
}


image-container {
  width: inherit;
  height: inherit;
  display: block;
  position: absolute;
  pointer-events: none;
}

right-side c-image, right-side image-placeholder {
  width: 100%;
  height: 100%;
  /* width: 300px;
  height: 380px; */
  position: absolute;
}

right-side c-image {
  border-radius: 20px;
  top: 0;
  left: 0;
}

right-side image-placeholder {
  position: relative;
  display: block;
}



image-container > image-accent {
  box-shadow: var(--soft-shadow);
  background-color: white;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: var(--left-offset);
  top: var(--top-offset);
  border-radius: 20px;
}

details-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: var(--top-offset);
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: calc(100% - 20px);
  box-sizing: border-box;
}

heading-elem {
  font-weight: bold;
}




c-ripple-button {
  position: absolute;
  right: 0;
  margin-right: var(--left-offset);
  border-radius: 10px;
  pointer-events: all;
}

details-entry {
  position: absolute;
  left: 0;
}

details-entry > * {
  display: block;
}


text-container {
  font-size: 18px;
  max-width: 100%;
  display: flex;
  margin-bottom: 50px;
  position: relative;
}

text-container > * {
  max-width: 100%;
}

prefix-text {
  font-weight: bold;
  white-space: nowrap;
}

main-text-container {
  display: flex;
  width: 500px;
  padding-left: calc(45% - 100px);
  padding-right: 30px;
  box-sizing: border-box;
  flex-direction: column;
}
main-text {
  width: 100%;
}

c-block-button {
  margin-top: 20px;
  --padding: 13px 25px;
  --border: none;
  --background: var(--secondary-theme);
  --text: var(--plain-background);
}

c-link {
  margin-top: 15px
}

c-dot-accent {
  position: absolute;
  width: 27px;
  height: auto;
}

c-dot-accent.top {
  right: -80px;
  top: -130px;
  transform: rotate(-90deg);
}

c-dot-accent.bot {
  bottom: 20px;
  left: -180px;
  transform: scaleX(-1) rotate(0deg);
}

c-heart-illustration {
  width: 400px;
  height: auto;
}


@media (max-width: 1300px) {
  c-dot-accent.bot {
    bottom: -40px;
    left: -90px;
  }
}

@media (max-width: 1150px) {
  c-dot-accent.top {
    right: -60px;
    top: -50px;
  }
  
  c-dot-accent.bot {
    opacity: 0;
  }
}

dot-container {
  width: 100%;
  display: block;
  position: relative;
}

c-dot-accent.pretext {
  opacity: 0;
  display: block;
  position: absolute;
  right: calc(350px - 35vw);
  bottom: -30px;
  transform: translateY(100%)
  
  /* transform: translateY(-100%);
  right: -10px;
  top: 200px; */
}

scroll-container {
  --top-offset: 70px;
  --left-offset: 30px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: calc(4vw + 250px);
  height: calc(4vw + 340px);
  overflow-x: scroll;
  padding-top: 20px;
  /* padding-left: 20px; */
  padding-bottom: calc(var(--top-offset) + 20px);
  padding-right: calc(var(--left-offset) + 20px);

  scroll-snap-type: x mandatory;
}

scroll-container > * {
  flex-shrink: 0;
}

scroll-container > scrollmargin-element {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: block;
}


scroll-container::-webkit-scrollbar {
  display: none
}

scroll-conrainer {
  scrollbar-width: none
}




@media (max-width: 1090px) {
  c-dot-accent.pretext {
    opacity: 1;
  }
  text-container {
    flex-direction: column;
    width: calc(70% + 50px);
  }
  prefix-text {
    color: rgb(var(--secondary-theme));
    font-size: 21px;
    margin-bottom: .3em;
  }
  main-text-container {
    padding-left: 0;
  }


  c-heart-illustration {
    transform: translateX(-60px);
  }
}

@media (max-width: 800px) {
  right-side, left-side {
    margin-top: 200px;
  }
}


@media (max-width: 650px) {
  component-body {
    flex-wrap: wrap;
  }
  left-side, right-side {
    max-width: 100%;
    margin-top: 150px;
  }

  right-side {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  image-container {
    position: initial;
  }

  c-dot-accent.top {
    top: -60px;
    right: 0px;
  }

  c-dot-accent.bot {
    opacity: 1;
    left: 0px;
    bottom: -70px;
  }



  right-side scroll-container {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  right-side c-image {
    width: 100%;
  }


  text-container {
    flex-direction: row;
    width: 100%;
  }
  prefix-text {
    color: initial;
    font-size: 18px;
    margin-bottom: initial;
  }
  main-text-container {
    padding-left: calc(45% - 130px);
    padding-right: 0;
    width: 100%;
  }
  c-dot-accent.pretext {
    opacity: 0;
  }
  c-heart-illustration {
    transform: translateX(0px);
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  text-container {
    flex-direction: column;
  }
  prefix-text {
    color: rgb(var(--secondary-theme));
    font-size: 21px;
    margin-bottom: .3em;
  }
  main-text-container {
    padding-left: 0;
  }
}