big-circle

left-side
  text-container
    prefix-text $[ home.team.about.prefix ]
    main-text-container
      main-text $[ home.team.about.mainText ]
      //- c-block-button(content="Get in contact")
      //- c-link(content="$[ home.team.about.cta ]" link="contact/form")
    c-dot-accent.pretext
    
  c-heart-illustration

right-side
  scroll-container
    image-container
      c-dot-accent.top
      c-dot-accent.bot
      image-placeholder

      image-accent
        details-bar
          c-ripple-button 
            
      //- c-image(src="presentation")

        
    