c-form(name="form")
  h1 Login
  c-input(placeholder="Username" type="text" name="username")
  c-input(placeholder="Password" type="password" name="password")
  c-load-button(name="submit" content="Done")