
<svg width="20" height="20" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M427.52 512H84.48C38.4 512 0 473.088 0 426.496V239.616C0 216.064 10.24 193.024 28.16 177.152L199.68 21.504C232.96 -7.168 279.04 -7.168 312.32 21.504L483.84 177.152C501.76 192.512 512 216.064 512 239.616V426.496C509.44 475.648 473.6 512 427.52 512ZM256 52.736C248.32 52.736 240.64 55.296 232.96 60.416L61.44 216.064C53.76 221.184 51.2 231.424 51.2 242.176V429.056C51.2 446.976 66.56 462.848 84.48 462.848H424.96C442.88 462.848 458.24 447.488 458.24 429.056V242.176C458.24 231.936 453.12 224.256 448 216.064L276.48 60.416C271.36 55.296 263.68 52.736 256 52.736Z" fill="black"/>
</svg>
