component-body, frame-container {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

component-body {
  height: 100vh;
}

::slotted(*), frame-container > * {
  display: none;
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

:host {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}