component-body {
  height: 100%;
}

move-area, page-canvas, page-canvas-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

page-canvas-container {
  overflow: hidden;
}

move-area {
  transform-origin: 0 0;
  will-change: transform; /* this is the magic performance improving line */
}



page-canvas {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  height: max-content;
  min-width: 15000px;
  min-height: 15000px;
}

page-frame {
  display: block;
  position: relative;
  margin: 100px;
  float: left;
  width: 100vw;
  height: max-content;
  border: 5px solid black;
}

page-frame > * {
  opacity: 1;
  width: 100%;
  height: 100%;
  display: block;
}

test-box {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
  margin: 300px;
  background-color: red;
}


