component-body {
  height: 100%;
}

page-canvas-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.moveArea, page-canvas {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}

page-frame {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  overflow-y: hidden;
  display: block;
}

page-frame > * {
  opacity: 1;
}

test-box {
  width: 50px;
  height: 70px;
  display: block;
  position: relative;
  margin-top: 100px;
  margin-left: 150px;
  float: left;
  background-color: red;
}

zoom-area.moveArea {
  background-color: green;
  width: 400%;
  height: 400%;


}
pan-area.moveArea {
  transform-origin: 0 0;
  /* transform-origin: center; */
}
