move-me {
  transition: .2s border-radius;
}

#autoComplete {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  box-sizing: border-box;
  padding: 15px 17px;
  padding-top: 23px; /* a */
  padding-bottom: 8px;

  border: none;
  background: transparent;
  font-size: 14px;
  font-family: inherit;

  color: #999;
  pointer-events: none;
}

