node_modules
test.js
dist/
.DS_Store
.idea*

package-lock.json

public/sw.js
public/res/img/dist
public/sw.*.js

ecosystem.config.js
.ecosystemCache
pm2Reload.js


deploy.zip
debug.log
pnpm-lock.yaml
.env
public/res/vid