
<svg id="Group_186" data-name="Group 186" xmlns="http://www.w3.org/2000/svg" width="512" height="345.696" viewBox="0 0 512 345.696">
  <path id="Path_683" data-name="Path 683" d="M110.948,314.777A110.963,110.963,0,0,1,85.06,95.935,130.7,130.7,0,0,1,301.8,36.641,99.4,99.4,0,0,1,351.06,23.773c51.057,0,93.635,38.8,99.477,88.463a101.335,101.335,0,0,1,41.2,32.021A99.222,99.222,0,0,1,512,204.607a100.042,100.042,0,0,1-140.869,91.449,145.01,145.01,0,0,1-211.535,7.4A110.326,110.326,0,0,1,110.948,314.777Zm63.04-39.89A115.057,115.057,0,0,0,355.013,268.2a15,15,0,0,1,20.027-3.949,70.129,70.129,0,1,0,56.876-126.881,15,15,0,0,1-10.7-14.21,70.388,70.388,0,0,0-70.156-69.39,69.5,69.5,0,0,0-42.484,14.261,15,15,0,0,1-20.555-2.257A100.694,100.694,0,0,0,112.17,111.662a15,15,0,0,1-12.629,12.02,80.94,80.94,0,1,0,54.937,148.287A15,15,0,0,1,173.988,274.887Z"/>
</svg>
