footer-column.head
  h1.chonker Got an idea?
  p We love a good challenge! Hit us up anytime during the week.
  c-link(content="Get in touch" link="contact/form")
footer-column.speachBubble.a
footer-column.speachBubble.b
footer-column.foot