:host {
  /* height: 300px; */
  z-index: 2;
  --theme: var(--secondary-theme);
  height: 90vh;
}

p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

h1.chonker + * {
  margin-top: 68px !important;
}

component-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 35px;
  padding: 50px calc(11.5% - 9px);
  box-sizing: border-box;
}

h1.chonker {
  font-size: calc(var(--font-size) * var(--header-fontsize-factor));
  font-size: 40px;
  margin-bottom: 8px;
  margin-top: 7px;
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  position: absolute;
}

h1.chonker::after {
  content: "";
  z-index: -1;
  background: rgba(var(--theme), .64);
  transition: .3s background-color;
  position: absolute;
  width: 100%;
  padding-right: 6px;
  height: 50%;
  top: 50%;
  left: 0px;
  transition: .3s;
}

h1.chonker::before {
  content: "";
  background: rgb(var(--theme));
  transition: .3s background-color;
  position: absolute;
  width: 3px;
  height: 50%;
  top: 50%; 
  left: -19px;
}

h2.lil {
  color: rgb(var(--theme));
  transition: .3s background-color;
  font-size: 19px;
  margin-top: 4px;
  margin-bottom: 3px;
}

h2.lil::before {
  content: "";
  background: rgb(var(--theme));
  transition: .3s background-color;
  position: absolute;
  width: 3px;
  height: 27px;
  left: -19px;
}


h2.lil::selection {
  background: rgba(var(--theme), 0.15);
  transition: .3s background-color;
}

@media (max-width: 1600px) {
  h2.lil {
    font-size: 20px;
  }
}

icon-line {
  margin-top: .3em;
}

icon-line > *:first-child {
  height: 100%;
  width: auto;
}



@media (max-width: 1400px) {
  component-body {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1100px) {
  component-body {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 730px) {
  component-body {
    grid-template-columns: 1fr
  }
}



c-link {
  margin-top: .3em;
}

c-block-button {
  margin-top: 10px;

  --background: var(--theme);
  --text: var(--plain-background);
  --border: unset;
  --padding: 14px 30px;
}



footer-column.speachBubble {
  display: flex;
}

footer-column.speachBubble.a {
  align-items: flex-start;
}

footer-column.speachBubble.b {
  align-items: flex-end;
}




footer-column.speachBubble c-speach-bubble {
  width: 100%;
  height: auto;

}

footer-column.speachBubble.b c-speach-bubble {
  --theme: var(--secondary-theme);
  transform: scaleX(-1)
}






footer-column.head {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

footer-column.speachBubble.a {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

footer-column.speachBubble.b {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

