:host {
  --border: var(--primary-text);
  
  

  /* private */
  --wave-opacity: 1;

  --wave-color: rgb(var(--primary-text));
  --counter-wave-color: var(--background-color);


  background-color: var(--background-color);
}


:host {
  display: block;
  width: fit-content;
}



:host(.preSelected) {
  --focus: 0, 153, 255;
}


:host(.selected) ::slotted(cover-me) {
  background: rgba(255, 255, 255, .1);
}



::slotted(button-text) {
  display: block;
  font-size: 1em;
  margin: auto 0;
  padding: 13px 24px;
  text-align: center;
  font-weight: bold;
  
  box-sizing: border-box;
  color: #D2E1E1;
  mix-blend-mode: difference;
}

:host(.preSelected) ::slotted(button-text) {
  color: white;
}



:host(.rippleSettled.preSelected) ::slotted(button-text) {
  
}

:host(:not(.selected):not(.preSelected).rippleSettled) ::slotted(button-text) {
  color: rgb(var(--primary-text));
  color: black;
  mix-blend-mode: normal;
}

:host(.selected.preSelected.rippleSettled) ::slotted(button-text) {
  color: #d2e1e1;
  mix-blend-mode: normal;
}

/* button-text {
  color: var(--text-color);
}

:host(.selected) button-text {
  color: var(--counter-text-color);
} */




::slotted(button-waves :nth-child(2n) button-wave) {
  background: var(--counter-wave-color);
}

::slotted(button-waves :nth-child(2n):last-child button-wave) {
  background: var(--counter-wave-color);
}

::slotted(button-waves :nth-child(2n+1):last-child button-wave) {
  background: var(--wave-color);
}







/* :host(:not(.enabled)) {
  border: 1px solid rgba(var(--border), .15);
  color: rgb(var(--text))
}


:host(:focus-within) {
  border: 1px solid rgba(var(--border), .35);
}

:host(:focus-within) component-body {
  background: rgba(var(--text), .075)
} */



