:host {
  overflow-y: auto;
  overflow-x: hidden;
}

component-body {
  display: inline-block;
  width: 100%;
  position: relative;
  height: fit-content;
  overflow: initial;
}

component-body > * {
  display: block;
  width: 100%;
  position: relative;
  float: left;
}

