
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="286.499" height="287.95" viewBox="0 0 272.499 287.95">
  <defs>
    <clipPath id="a">
      <path d="M0,0H310.4V308.837Z" transform="translate(7   0)" fill="#2aabe1" />
    </clipPath>
  </defs>
  <g id="body" clip-path="url(#a)">
  </g>
</svg>