h1 Impressum 
p <b>Name:</b> Raphael Schlager
p <b>Unternehmensstandort:</b> Am Brunnenweg 16/9 4810 Gmunden
p <b>Kontaktdaten:</b> Email: corporate@xcenic.com
p Mitglied der oberösterreichischen Wirtschaftskammer
p <b>Berufsrecht:</b> Gewerbeordnung: <c-link link="www.ris.bka.gv.at">www.ris.bka.gv.at</c-link>
p <b>Aufsichtsbehörde:</b> Bezirkshauptmannschaft Gmunden
p <b>Gewerbeart:</b> Multimediaagentur
p Verbraucher haben die Möglichkeit, Beschwerden an die Online-Streitbeilegungsplattform der EU zu richten: <c-link link="http://ec.europa.eu/odr">http://ec.europa.eu/odr</c-link>. Sie können allfällige Beschwerde auch an die oben angegebene E-Mail-Adresse richten.
