<svg xmlns="http://www.w3.org/2000/svg" width="1568.5" height="7132.697" viewBox="0 0 1568.5 7132.697">
  <g id="lines" transform="translate(-178 -978.276)">
    <g id="Group_27" data-name="Group 27" transform="translate(959.5 978.5)">
      <line id="Line_2" data-name="Line 2" y2="7132.474" fill="none" stroke="rgba(45,30,30,0.25)" stroke-width="1" stroke-dasharray="6"/>
    </g>
    <g id="Group_28" data-name="Group 28" transform="translate(178.5 978.5)">
      <line id="Line_1" data-name="Line 1" y2="7132.473" fill="none" stroke="rgba(45,30,30,0.25)" stroke-width="1" stroke-dasharray="6"/>
    </g>
    <g id="Group_30" data-name="Group 30" transform="translate(1352.5 978.276)">
      <line id="Line_2-2" data-name="Line 2" x2="2" y2="7132.697" transform="translate(0 0)" fill="none" stroke="rgba(45,30,30,0.25)" stroke-width="1" stroke-dasharray="6"/>
    </g>
    <g id="Group_31" data-name="Group 31" transform="translate(1744 978.5)">
      <line id="Line_2-3" data-name="Line 2" x2="2" y2="7132.473" transform="translate(0 0)" fill="none" stroke="rgba(45,30,30,0.25)" stroke-width="1" stroke-dasharray="6"/>
    </g>
    <g id="Group_29" data-name="Group 29" transform="translate(571 978.553)">
      <line id="Line_1-2" data-name="Line 1" y2="7132.42" fill="none" stroke="rgba(45,30,30,0.25)" stroke-width="1" stroke-dasharray="6"/>
    </g>
  </g>
</svg>
