:host {
  height: 90%;
  width: 100%;
  min-height: 650px;
  z-index: 1;
}

skew-background {
  background: rgb(var(--primary-strongly-themed-background));
  transform: rotate(1deg);
  box-shadow: var(--soft-shadow);
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  display: flex;
  margin-left: -10px;
  margin-top: -10px;
}