skew-background-wrapper
  skew-background

right-side
  show-case
    c-tag-accent(tag="$[ home.philosophy.tag ]" tagDesc="$[ home.philosophy.tagDesc ]")
    show-case-background
    show-case-background-tint
    phone-screens-wrapper
      phone-screens
        c-image(src="taskforceMobile")
        c-image(src="taskforceMobile")
        c-image(src="taskforceMobile")
        c-image(src="taskforceMobile")
        c-image(src="taskforceMobile")
        c-image(src="taskforceMobile")
        c-image.placeholder
        c-image(src="taskforceMobile")

left-side
  c-dot-accent.a
  c-text-blob(heading="$[ home.philosophy.heading ]" text="$[ home.philosophy.text ]" note="$[ home.philosophy.note ]")
  c-dot-accent.b
