skew-background
background-lines
  c-line
  c-line
  c-line
  c-line
  c-line

left-side
  c-text-blob(heading="$[ home.philosophy.heading ]" text="$[ home.philosophy.text ]" note="$[ home.philosophy.note ]")
right-side
  show-case
    show-case-background-tint
    phone-screens 
      c-image(src="taskforceMobile")
      c-image(src="taskforceMobile")
      c-image(src="taskforceMobile")
      c-image(src="taskforceMobile")
      c-image(src="taskforceMobile")
      c-image(src="taskforceMobile")
      c-image.placeholder
      c-image(src="taskforceMobile")