skew-background
  background-lines
    c-line
    c-line
    c-line
    c-line
    c-line

left-side
  c-text-blob(heading="$[ home.philosophy.heading ]" text="$[ home.philosophy.text ]" note="$[ home.philosophy.note ]")
right-side
  show-case
    show-case-background-tint
    focus-screens 
      c-image(src="taskforceMobile").phone