header-spacer
ui-container
  c-text-blob(heading="$[ admin.heading ]", note="$[ admin.subHeading ]")

  c-block-button(content="$[ home.landing.callToAction ]")

  c-select(name="langSelect" placeholder="Select Language")#langSelect
