image-container
  c-image(src="contactForm")
  image-darken


ui-container-box
  ui-container-box-scroll
    ui-container-content
      initial-view
        c-text-blob(heading="$[ contact.heading ]", note="$[ contact.note ]")
        h3.request $[ contact.requestQuery ]
        c-select-button(content="hello")
        h3.details $[ contact.detailsQuery ]
        textarea.details



  c-block-button(content="$[ contact.continue ]")
        


      
      