image-container
  c-image(src="contactForm")
  image-darken


c-form
  ui-container-content
    initial-view
      c-text-blob(heading="$[ contact.heading ]", note="$[ contact.note ]")
      h3.request $[ contact.requestQuery ]
      selection-body(name="interests")
        c-select-button(name="dev" content="$[ contact.requestOptions.0 ]")
        c-select-button(name="design" content="$[ contact.requestOptions.1 ]")
        c-select-button(name="video"  content="$[ contact.requestOptions.2 ]")
        c-select-button(name="photo" content="$[ contact.requestOptions.3 ]")
        c-select-button(name="social" content="$[ contact.requestOptions.4 ]")
        c-select-button(name="other" content="$[ contact.requestOptions.5 ]")
      h3.details $[ contact.detailsQuery ]
      c-textarea.details(name="details" placeholder="$[ contact.detailsPlaceholder ]")
      
      seperator-row
        c-line-accent
        h3.lastThing $[ contact.lastThingQuery ]
    after-initial-view
      c-input(name="sender" placeholder="$[ contact.yourName ]")
      c-input(name="email" placeholder="$[ contact.email ]" type="email")

    scroll-margin





  c-load-button#continue
        


      
      