image-container
  c-image(src="contactForm")
  image-darken


ui-container-box
  ui-container-content
    initial-view
      c-text-blob(heading="$[ contact.heading ]", note="$[ contact.note ]")
      h3.request $[ contact.requestQuery ]
      selection-body
        c-select-button(content="$[ contact.requestOptions.0 ]")
        c-select-button(content="$[ contact.requestOptions.1 ]")
        c-select-button(content="$[ contact.requestOptions.2 ]")
        c-select-button(content="$[ contact.requestOptions.3 ]")
        c-select-button(content="$[ contact.requestOptions.4 ]")
        c-select-button(content="$[ contact.requestOptions.5 ]")
      h3.details $[ contact.detailsQuery ]
      textarea.details
      seperator-row
        c-line-accent
        h3.lastThing $[ contact.lastThingQuery ]
    after-initial-view
      c-input(placeholder="$[ contact.yourName ]")
      c-input(placeholder="$[ contact.email ]" type="email")

    scroll-margin





  c-block-button(content="$[ contact.continue ]")#continue
        


      
      