:host {
  /* height: 80vh; */
  background: linear-gradient(rgb(149, 255, 99), rgb(255, 199, 199));
  contain-intrinsic-size: 600px !important;
}

h2 {
  font-weight: normal;
  display: block;
  margin: 0;
  position: relative;
  float: left;
  width: 100%;
  opacity: 0;
}