:host {
  --background: var(--plain-background);
  --border: var(--primary-text);
  --padding: 15px 35px;
  
  --text: var(--primary-text);
  --drag: auto;
}

:host {

  transition: border .3s, color .3s;
  display: inline-block;
  width: fit-content;
}

button-container {
  display: flex;
  height: 100%;
  transition: background-color .3s;
  width: fit-content;
}
button-text {
  display: block;
  font-size: 1em;
  margin: auto 0;
  padding: var(--padding);
  text-align: center;
}

:host {
  border: 1px solid rgba(var(--border), .25);
  background: rgb(var(--background));
  transition: .2s;
}

:host(:not(.enabled)) {
  border: 1px solid rgba(var(--border), .15);
  
}


c-button {
  --border: var(--text);
  --text: var(--text)
}



:host(:focus-within) button-container {
  background: rgba(var(--text), .075)
}

loading-spinner {
  position: absolute;
  height: 8px;
  width: 8px;
  top: 50%;
  left: 14px;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 50%;

  border: 1.5px solid rgba(var(--text), 1);
  border-top-color: transparent;
  box-sizing: border-box;
  opacity: 1;
  transition: .4s border-color;

  opacity: 0;
}