
<svg xmlns="http://www.w3.org/2000/svg" width="19.297" height="21" viewBox="0 0 19.297 21">
  <g id="Group_181" data-name="Group 181" transform="translate(-437.487 -29.2)">
    <path id="Subtraction_3" data-name="Subtraction 3" d="M19.3,21H14.221l-3.777-5.577,2.538-3.748L19.3,21ZM6.32,9.332,0,0H5.076L8.858,5.584,6.32,9.332h0Z" transform="translate(437.487 29.2)" fill="#003fd2"/>
    <path id="Path_674" data-name="Path 674" d="M19.3,0H14.221L0,21H5.076Z" transform="translate(437.487 29.2)" fill="#ee2534"/>
  </g>
</svg>
