grid-column.cta
  h1.chonker $[ home.contact.cta.heading ]
  p $[ home.contact.cta.text ]
  c-block-button(content="$[ home.contact.cta.button ]" link="contact/form")
grid-column.speachBubble.a
  c-speach-bubble
grid-column.speachBubble.b
  c-speach-bubble
grid-column.contact.head
  h1.chonker $[ home.contact.socials.heading ]
  p $[ home.contact.socials.text ]
grid-column.contact.data
  h2.lil $[ home.contact.socials.contact.heading ]
  c-link(iconside="left")
    c-phone-icon
    | $[ home.contact.socials.contact.email ]
    
  c-icon-link(content="$[ home.contact.socials.contact.email ]" iconside="left")
    c-phone-icon
  //- c-icon-link(content="$[ home.contact.socials.contact.address ]" iconside="left")
  //-   c-home-icon
grid-column.contact.socials
  h2.lil $[ home.contact.socials.socialMedia.heading ]
  c-icon-link(content="$[ home.contact.socials.socialMedia.linkedIn ]" iconside="left")
    c-linked-in-icon
  c-icon-link(content="$[ home.contact.socials.socialMedia.instagram ]" iconside="left")
    c-instagram-icon
  c-icon-link(content="$[ home.contact.socials.socialMedia.tikTok ]" iconside="left")
    c-tiktok-icon
grid-column.legal
  legal-container
    legal-container-background
    legal-box
      grid-legal.head
        name-artifact $[ xcenic.longName ]
        h1 $[ xcenic.longName ]
        p © 2019-<span id="currentYear"></span>. $[ home.contact.legal.legalNotice ]
      grid-legal.body.privacy
        c-icon-link.lil(content="$[ home.contact.legal.privacy.heading ]" eventTarget="parent" link="https://www.e-recht24.de/impressum-generator.html")
          c-arrow-pointer
        p $[ home.contact.legal.privacy.text ]
      grid-legal.body.cookie