footer-column.head
  h1.chonker $[ home.contact.cta.heading ]
  p $[ home.contact.cta.text ]
  c-block-button(content="$[ home.contact.cta.button ]" link="contact/form")
footer-column.speachBubble.a
  c-speach-bubble
footer-column.speachBubble.b
  c-speach-bubble
footer-column.foot