big-circle

left-side
  text-container
    prefix-text $[ home.contact.prefix ]
    main-text $[ home.contact.mainText ]

right-side
  //- c-image(src="presentation")
  c-dot-accent.top
  c-dot-accent.bot