:host > svg path {
  transition: .4s fill;
}

:host(.strong.highlight) svg > g, :host(.strong.highlight) svg > path {
  fill: var(--strong-contrast-text-color) !important
}

:host(.weak.highlight) svg > g, :host(.weak.highlight) svg > path {
  fill: var(--weak-contrast-text-color) !important
}

