:host {
  min-height: 100vh;
  background-color: #F9FAFE;
  transition: .3s background-color;
  --theme: var(--primary-theme)
}

service-showcase.webapp {
  
}

service-showcase.contentCreation {
  
}


service-showcase {
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 0 calc(11.5% - 9px);
  padding-top: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 35px;
  grid-auto-rows: minmax(100px, auto);
}

service-showcase:last-child {
  padding-bottom: 50px;
}


.hero {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}


h1.chonker {
  font-size: calc(var(--font-size) * var(--header-fontsize-factor));
  font-size: 40px;
  margin-bottom: 8px;
  margin-top: 7px;
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  position: absolute;
}

h1.chonker::after {
  content: "";
  z-index: -1;
  background: rgba(var(--theme), .64);
  transition: .3s background-color;
  position: absolute;
  width: 100%;
  padding-right: 6px;
  height: 50%;
  top: 50%;
  left: 0px;
}

h1.chonker::before {
  content: "";
  background: rgb(var(--theme));
  transition: .3s background-color;
  position: absolute;
  width: 3px;
  height: 50%;
  top: 50%; 
  left: -19px;
}

h2.lil {
  color: rgb(var(--theme));
  transition: .3s background-color;
  font-size: 19px;
  margin-top: 4px;
  margin-bottom: 3px;
}

h2.lil::before {
  content: "";
  background: rgb(var(--theme));
  transition: .3s background-color;
  position: absolute;
  width: 3px;
  height: 27px;
  left: -19px;
}

h2.lil::selection {
  background: rgba(var(--theme), 0.15);
  transition: .3s background-color;
}

h1.count {
  color: rgb(var(--theme));
  font-size: 19px;
  margin-top: 3px;
  margin-bottom: 4px;
}


h1.count::selection {
  background: rgba(var(--theme), 0.15);
  transition: .3s background-color;
}

h1.count::before {
  content: "";
  background: rgba(var(--theme), .15);
  transition: .3s background-color;
  position: absolute;
  width: 26px;
  height: 26px;
  left: -19px;
  top: 3px;
  border-radius: 50%;
  transform: translateX(-50%);
}

h1.count::after {
  content: "/";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  position: absolute;
  width: 26px;
  height: 26px;
  left: -19px;
  top: 3px;
  transform: translateX(-50%) translateY(-1px);
}


h1.count.one::after {
  content: "1";
  transform: translateX(-50%);
}

h1.count.two::after {
  content: "2";
}

h1.count.three::after {
  content: "3";
}

h1.count.four::after {
  content: "4";
}

p {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0;
}

h1.chonker + p {
  margin-top: 68px;
}

grid-element {
  position: relative;
  z-index: 0;
  margin-bottom: 24px;
}

grid-element > * {
  max-width: 100%;
}

.tablet {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  margin-top: 35px;
  margin-bottom: 35px;
}

c-image {
  height: auto;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: visible;
}

c-image::after {
  content: "";
  box-shadow: 0 0 30px 0 rgba(var(--plain-text), .3);
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.tablet c-image::after {
  border-radius: calc(4.2vw / 4);
  top: 3px;
  left: 3px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}


big-thing {
  display: inline-block;
  padding: 25px 5%;
  position: relative;
}

.tablet big-thing {
  padding-right: 10%;
  padding-left: 2.5%;
  box-sizing: border-box;
}

.smartphone c-image::after {
  border-radius: calc(8.8vw / 4);
  left: 3px;
  width: calc(100% - 7px);
}


.smartphone {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
}


.smartphone > c-image {
  width: 100%;
  height: auto;
}


.step.one {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.step.two {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.step.three {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.versionControl {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.illustration {
  width: 100%;
  height: 190px;
  margin-top: 15px;
  margin-bottom: 15px;
} 

.photography {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.videography {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

c-image.standalone {
  border-radius: 40px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

c-image::after {
  border-radius: 40px;
}

@media (min-width: 1500px) {
  c-image.standalone {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}


c-tgm-logo-dots {
  position: absolute;
  width: calc(60vw / 4);
  height: calc(60vw / 4);
  z-index: -1;
  top: 15px;
  right: 0px;
}

@media (min-width: 1600px) {
  p {
    font-size: 17px;
  }
  h2.lil {
    font-size: 20px;
  }
}

@media (max-width: 1400px) {
  service-showcase {
    grid-template-columns: 1fr 1fr 1fr;
  }

  c-tgm-logo-dots {
    position: absolute;
    width: calc(50vw / 3);
    height: calc(50vw / 3);
    z-index: -1;
    top: 15px;
    right: 0px;
  }

}

@media (max-width: 1400px) {
  service-showcase {
    grid-template-columns: 1fr 1fr 1fr;
  }


  c-tgm-logo-dots {
    width: calc(50vw / 3);
    height: calc(50vw / 3);
  }

  .smartphone c-image::after {
    border-radius: calc(8.8vw / 3);
  }


  .tablet c-image::after {
    border-radius: calc(4.2vw / 3);
  }

}

@media (max-width: 1100px) {
  service-showcase {
    grid-template-columns: 1fr 1fr;
  }

  .hero {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .smartphone {
    margin-top: 25px;
    grid-column: 2 / 3;
    grid-row: 1 / 5;
  }

  .step.one {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .step.two {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  
  .step.three {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .tablet {
    grid-column: 1 / 3;
    grid-row: 5 / 8;
  }

  .versionControl {
    display: none;
  }

  

  c-tgm-logo-dots {
    width: 24vw;
    height: 24vw;
  }

  .smartphone c-image::after {
    border-radius: calc(8.8vw / 2);
  }


  .tablet c-image::after {
    border-radius: calc(4.2vw / 2);
  }
}

@media (max-width: 850px) {
  .smartphone {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }

  .step.one {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  
  .step.two {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  
  .step.three {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  .versionControl {
    display: block;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

@media (max-width: 730px) {

  service-showcase {
    display: flex;
    flex-direction: column;
  }


  .smartphone c-image::after {
    border-radius: 8.8vw;
  }


  .tablet c-image::after {
    border-radius: 4.2vw;
  }



  big-thing {
    display: inline-block;
    padding: 15px 2%;
    position: relative;
  }
  .tablet big-thing {
    padding-right: 10%;
    padding-left: 2%;
    box-sizing: border-box;
  }

  c-tgm-logo-dots {
    top: 25px;
    right: 5px
  }
}

/* @media (max-width: ) {
  
} */

