grid-element.hero
  h1.chonker $[ home.work.webApp.hero.heading ]
  p $[ home.work.webApp.hero.text ]

grid-element.tablet
  h1.lil $[ home.work.webApp.tablet.heading ]
  c-tgm-logo-dots
  big-thing 
    c-image(src="tgmWebsiteTablet")

grid-element.step.one
  h1.count.one $[ home.work.webApp.step.one.heading ]
  p $[ home.work.webApp.step.one.text ]

grid-element.step.two
  h1.count.two $[ home.work.webApp.step.two.heading ]
  p $[ home.work.webApp.step.two.text ]

grid-element.step.three
  h1.count.three $[ home.work.webApp.step.three.heading ]
  p $[ home.work.webApp.step.three.text ]

grid-element.versionControl
  c-version-control


grid-element.smartphone 
  h1.lil $[ home.work.webApp.smartphone.heading ]
  big-thing 
    c-image(src="taskforceJoin")
