grid-element.hero
  h1.chonker $[ home.work.webApp.hero.heading ]
  p $[ home.work.webApp.hero.text ]
grid-element.tablet
  h1.lil $[ home.work.webApp.tabletHeader ]
  c-tgm-logo-dots
  c-image(src="tgmWebsiteTablet")