service-showcase.webapp.blue
  grid-element.hero
    h1.chonker $[ home.work.webApp.hero.heading ]
    p $[ home.work.webApp.hero.text ]

  grid-element.tablet
    h2.lil $[ home.work.webApp.tablet.heading ]
    c-tgm-logo-dots
    big-showcase 
      c-image(src="tgmWebsiteTablet")

  grid-element.step.one
    h1.count.one $[ home.work.webApp.step.one.heading ]
    p $[ home.work.webApp.step.one.text ]

  grid-element.step.two
    h1.count.two $[ home.work.webApp.step.two.heading ]
    p $[ home.work.webApp.step.two.text ]

  grid-element.step.three
    h1.count.three $[ home.work.webApp.step.three.heading ]
    p $[ home.work.webApp.step.three.text ]

  grid-element.versionControl
    c-version-control.illustration


  grid-element.smartphone 
    h2.lil $[ home.work.webApp.smartphone.heading ]
    big-showcase
      c-image(src="taskforceJoin")

service-showcase.contentCreation.red
  grid-element.hero
    h1.chonker $[ home.work.contentCreation.hero.heading ]
    p $[ home.work.contentCreation.hero.text ]
  
  grid-element.photography
    c-photo-shoot.illustration
    h2.lil $[ home.work.contentCreation.photography ]

  grid-element.photographyImage
    background-accent
    big-image
      c-image(src="photography")

  grid-element.videography
    h2.lil $[ home.work.contentCreation.videography.heading ]
    p $[ home.work.contentCreation.videography.text1 ]
    big-image
      c-image(src="cameraMan")
    p $[ home.work.contentCreation.videography.text2 ]

  


