



service-showcase.webapp.blue
  grid-element.hero
    h1.chonker $[ home.work.webApp.hero.heading ]
    p $[ home.work.webApp.hero.text ]

  grid-element.tablet
    h2.lil $[ home.work.webApp.tablet.heading ]
    c-tgm-logo-dots
    big-showcase 
      c-image(src="tgmWebsiteTablet")

  grid-element.step.one
    h2.count.one $[ home.work.webApp.step.one.heading ]
    p $[ home.work.webApp.step.one.text ]

  grid-element.step.two
    h2.count.two $[ home.work.webApp.step.two.heading ]
    p $[ home.work.webApp.step.two.text ]

  grid-element.step.three
    h2.count.three $[ home.work.webApp.step.three.heading ]
    p $[ home.work.webApp.step.three.text ]

  grid-element.countIllustration
    c-version-control.illustration


  grid-element.smartphone 
    h2.lil $[ home.work.webApp.smartphone.heading ]
    big-showcase
      c-image(src="taskforceJoin")

service-showcase.contentCreation.red
  grid-element.hero
    h1.chonker $[ home.work.contentCreation.hero.heading ]
    p $[ home.work.contentCreation.hero.text ]
  
  grid-element.photography
    h2.lil $[ home.work.contentCreation.photography ]
    c-photo-shoot.illustration

  grid-element.photographyImage
    background-accent
    big-image
      c-image(src="photography")

  grid-element.videographyHead
    h2.lil $[ home.work.contentCreation.videography.heading ]
    p $[ home.work.contentCreation.videography.text1 ]

  grid-element.videographyImg 
    big-image.noMargin
      c-image(src="cameraMan")

  grid-element.videographyTail
    p.short $[ home.work.contentCreation.videography.text2 ]
    p.long $[ home.work.contentCreation.videography.text2 ] $[ home.work.contentCreation.videography.text3 ]

service-showcase.socialMedia.blue
  grid-element.hero
    h1.chonker $[ home.work.socialMedia.hero.heading ]
    p $[ home.work.socialMedia.hero.text ]

  gird-element.headerIllustration
    c-social-media-illustration.illustration

  grid-element.yourBrand
    h2.lil $[ home.work.socialMedia.yourBrand.heading ]
    p $[ home.work.socialMedia.yourBrand.text ]

  grid-element.smartphone 
    big-showcase
      c-image(src="taskforceMobile")

  grid-element.processHeading
    h2.lil $[ home.work.socialMedia.process.heading ]
    p $[ home.work.socialMedia.process.text ]

  grid-element.step.one 
    h2.count.one $[ home.work.socialMedia.process.step.one.heading ]
    p $[ home.work.socialMedia.process.step.one.text ]
  
  grid-element.step.two
    h2.count.two $[ home.work.socialMedia.process.step.two.heading ]
    p $[ home.work.socialMedia.process.step.two.text ]
  
  grid-element.step.three
    h2.count.three $[ home.work.socialMedia.process.step.three.heading ]
    p $[ home.work.socialMedia.process.step.three.text ]

  grid-element.posts 
    big-showcase
      c-image(src="socialMediaPosts")


view-more-side-panel
  showcase-wrapper
    showcase-section.webapp.blue
      h1.chonker $[ home.work.webApp.hero.heading ]
      p $[ home.work.webApp.sideText ]
      c-button(link="services/websites")
    showcase-section.contentCreation.red.inactive
      h1.chonker $[ home.work.contentCreation.hero.heading ]
      p $[ home.work.contentCreation.sideText ]
      c-button(link="services/contentCreation")
    showcase-section.socialMedia.blue.inactive
      h1.chonker $[ home.work.socialMedia.hero.heading ]
      p $[ home.work.socialMedia.sideText ]
      c-button(link="services/socialMedia")