tilt-background
quote-section
  big-circle


  left-side
    c-text-blob(heading="$[ home.team.heading ]" note="$[ home.team.note ]")


  right-side
    quote-box 
      quote-heading 
        heading-line
          heading-text 
            c-text $[ home.team.quote.0.author ]
          heading-seperator / 
        heading-subtext 
          c-text $[ home.team.quote.0.authorTitle ]
      
      quote-text 
        c-text $[ home.team.quote.0.text ]
      c-link(link="team") $[ home.team.quote.0.cta ]
      
      c-quotation-mark.top
      c-quotation-mark.bot 

  c-designer-woman
  floor-line


image-wrapper
  c-image(src="teamPic").team
