tilt-background
big-circle


left-side
  c-text-blob(heading="$[ home.team.heading ]" note="$[ home.team.note ]")


right-side
  quote-box 
    quote-text $[ home.team.quote.0.text ]
    quote-author $[ home.team.quote.0.author ]
    c-quotation-mark.top
    c-quotation-mark.bot 
